<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Django Word Count Page</title>
</head>
<body>
<a href="{% url 'home' %}">Back to Home page</a>
<div align="center">
    <h1>Django Word Count Page</h1>
    <p><b>Your text is:</b> {{text}}, <b>and number of words is:</b> {{length}}</p>
    <br/>
    {% for k, v in textDict %}
    {{k}}: {{v}}<br/>
    {% endfor %}

</div>

</body>
</html>